body{
  color: #eee;
  background: #151515;

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

a:link, a:visited {
  color: #f43753;
}

a:hover, a:active {
  text-decoration: underline;
  color: white;
}
